@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

header{
    width: 100vw;
    background-color: #F6F4EB;
}

h1{
    color:#4682A9;
    padding: 1em;
    margin: 0;
}

h3{
    margin:0;
    padding: 0.5em;
}

p{
    margin: 0;
    padding: 0 0.5em;
}

main{
    width: 90%;
    margin: auto;
    display: flex;
}

.task-list{
    width: 70%;
    margin:1em;
}

.add-task{
    width: 30%;
    margin: 1em;
}

.task-details{
    display: block;
    border:1px solid #4682A9;
    background-color: #F6F4EB;
    color:#4682A9;
    padding: 1em 2em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.task-details p{
    text-transform: capitalize;
}

.task-details:hover{
    background-color: #bfc5ca;
}


.task-form{
    border:1px solid #4682A9;
    background-color: #F6F4EB;
    color:#4682A9;
    padding: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

button{
    border:none;
    background-color: #4682A9;
    color:#fff;
    margin-top: 2em;
    padding: 0.8em 1.6em;
}

.delete-btn{
    border:none;
    background-color: #fff;
    color:rgb(175, 68, 68);
    border: 1px solid rgb(175, 68, 68);
    margin-top: 2em;
    margin-left: 0.5em;
    padding: 0.5em 1em;
}

button:hover{
    border: 1px solid #4682A9;
    color:#4682A9;
    background-color: #fff;
}

.delete-btn:hover{
    color:#fff;
    background-color: rgb(175, 68, 68);
}

label{
    margin-top: 1em;
    margin-bottom: 0.3em;
}

input, select{
    padding: 0.5em 1em;
}
